.overlay {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
}

.open {
    opacity: 1;
    overflow: auto;
    visibility: visible;
}

    .open .modal {
        opacity: 1;
        visibility: visible;
    }

.modal {
    top: 50%;
    left: 50%;
    gap: 1rem;
    opacity: 0;
    display: flex;
    min-width: 30em;
    padding: 1.75rem;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    padding: 0.75rem 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid darkcyan;
}

.close {
    cursor: pointer;
    color: darkcyan;
    font-size: 1.25rem;
    border-radius: 0.25rem;
    transition: transform 0.1s linear;
}

    .close:hover {
        color: var(--white);
        transform: scale(1.2);
        background-color: darkcyan;
    }

    .close:active {
        box-shadow: inset 0 0 0 100em #105858;
    }